.profile-top{
    height: 16rem;
    /* padding: var(--section-padding); */
    background : var(--background-color-2)
}

.profile{
    display: flex;
    color: var(--color4);
}
.cover-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-img-box{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: absolute;
    top: 13.5rem;
    left: 1rem;
    z-index: 2;
    max-width: calc(100% - 2rem);
    box-sizing: border-box;
    
 
}
.profile-img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2rem;
    border : 0.3rem solid var(--background-color-3)
}
.img-upload-icon{
    cursor: pointer;
    color:var(--color2);
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: -1rem
}
.profile-img-preview{
    width: 20rem;
    height: 20rem;
    margin : 0 auto;
    object-fit: cover;
}
.label-box{
    position: relative;
    height: auto;
    height: 4rem;
    width: 10rem;
}
.label-box-inner{
    position: relative;
    top: -2rem;
    width: 100%;
    height: 100%;
    min-width: calc(100% - 2rem);
    
}
.profile-img-preview-box{
    position: fixed;
    left: 50%;
    top:10rem;
    transform: translateX(-50%);
    width: 50vw;
    height: 20rem;
    display: grid;
    place-items: center;
    background: gray;
    /* z-index: 11; */
 
}
.username{
    font-size: 1.4rem;
    margin-top: -4rem;
}
.profile-summary{
    text-align: left;
    justify-content: left;
    transform: translateX(-10rem);
    width: 10rem;
    height: 10rem;
    padding: var(--section-padding);
    display: flex;
    align-items: center;
    display: none;
}
.profile-summary-desktop{
    position: absolute;
    top: 8rem;
    left: 13rem
}
.profile-left-border, .profile-right-border{
    flex : 3;
    position: sticky;
    background: var(--background-color);
    top: 5rem;
    height: calc(100vh - 5rem);
    padding: var(--section-padding);
}
/* ::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track{
    background: var(--scrollbar-track)
}
::-webkit-scrollbar-thumb{
    background: var(--scrollbar-thumb)
} */
.profile-left-inner{
    height: 100%;
    overflow: auto;
}
.profile-left-top{
    font-size: var(--header-font-size);
}
.profile-left-ul{
    list-style-type: none;
}
.profile-left-li{
    text-decoration: none;
}
.profile-center-inner-left, .profile-center-inner-right{
    padding: var(--header-section-padding);
    flex : 5;
    position: relative;
    min-height: 100vh;
    background: var(--background-color);
}
.profile-center{
    padding: var(--header-section-padding);
    flex : 5;
    position: relative;
    min-height: 100vh;
    background: var(--background-color);
    
}
.profile-center-top{
    width: auto;
    background: var(--background-color-2);
    margin : var(--section-margin);
    box-shadow:
    0px 14.3px 1.2px -32px rgba(0, 0, 0, 0.009),
    0px 25.1px 3.4px -32px rgba(0, 0, 0, 0.02),
    0px 32.5px 7.2px -32px rgba(0, 0, 0, 0.04),
    0px 37.3px 13.6px -32px rgba(0, 0, 0, 0.064),
    0px 40.6px 25.3px -32px rgba(0, 0, 0, 0.068),
    0px 43px 51px -32px rgba(0, 0, 0, 0.07);
}
.profile-center-top-inner{
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
    padding: var(--input-padding);
    position: relative
}
.profile-center-top-inner2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    justify-content: space-around;
    padding: var(--input-padding2);
    position: relative;
}
.profile-center-top-hr{
    width: 90%;
    margin : 0 auto
}
.profile-center-left , .profile-center-right{
    /* background: red; */
}
.profile-center-input{
    font-size: 1.1rem;
    width:70%;
    border: none;
    margin-left: 1rem; 
    background: var(--background-color-2);
    
}
.profile-center-input2{
    display: none;
}
.profile-center-input-icon{
    color: #58ce68;
    margin-right: 0.4rem;
    cursor: pointer;
}
.profile-center-input-item{
    display: flex;
    align-items: center;
}

.profile-center-input:focus{
    outline: none;
}

.profile-center-middle{
    width: auto;
    background: var(--background-color-2);
    margin : var(--section-margin);
    position: relative;

}

.profile-center-inner-left-1{
    padding :var(--section-padding);
    width: auto;
    background: var(--background-color-2);
    margin : var(--section-margin);
    box-shadow:
    0px 14.3px 1.2px -32px rgba(0, 0, 0, 0.009),
    0px 25.1px 3.4px -32px rgba(0, 0, 0, 0.02),
    0px 32.5px 7.2px -32px rgba(0, 0, 0, 0.04),
    0px 37.3px 13.6px -32px rgba(0, 0, 0, 0.064),
    0px 40.6px 25.3px -32px rgba(0, 0, 0, 0.068),
    0px 43px 51px -32px rgba(0, 0, 0, 0.07);
}

.icon{
    color: var(--color);
    width : 10%;
    background: var(--background-color-2);
    /* border-radius: 50%; */
    cursor: pointer;
}
.post-btn{
    width: 15%;
    cursor: pointer;
    height: var(--btn-height);
    background: var(--background-color);
    /* font-size: var(--btn-font-size); */
    font-weight: var(--btn-font-weight);
    /* position: absolute;
    right: 0rem;
    top:0; */
     border: 1px solid var(--background-color-2);
}
.btn-box{
    height: auto;
    width: auto;
    position: absolute;
    top: 6rem;
    right : 0;
    align-items: center;
}
.other-userbtn1{
    display: none;
    margin-right: 1rem ;
}

.other-userbtn2{
    display: block;
    margin-top: -3rem;
}
.btn{
    font-weight: 600;
    cursor: pointer;
    padding : var(--btn-padding-2);
    width: 10rem;
    border-radius: var(--btn-border-radius);
    border:none;
    opacity: 0.9;
    /* transform: translateY(-50%) */
}
.bio-btn{
    font-weight: 600;
    cursor: pointer;
    padding : var(--btn-padding-2);
    width: auto;
    border-radius: var(--btn-border-radius);
    border:none;
    opacity: 0.9;
    position: absolute;
    top:2rem;
    right: 3rem;
}
.btn:hover{
    opacity: 1
}
.pagination-btn{
    font-weight: 600;
    cursor: pointer;
    padding : var(--btn-padding-4);
    width: 3rem;
    border-radius: var(--btn-border-radius);
    border:none;
    opacity: 0.9;
}

.icons-box{
    margin: 0.3rem 0;
    color: var(--color);
}

.otherUsers-inner{
    min-width: 6rem;
    height: 10rem;
    margin : 0.3rem;
    background: var(--background-color-3);
    display: block;
    text-align: center;
    position: relative;
    font-size: 0.9rem;
    color: var(--color2);
}

.follow-btn{
    width: 100%;
    cursor: pointer;
    padding: var(--btn-padding);
    background: var( --button-background);
    font-size: var(--button-font-size-2);
    position: absolute;
    right: 0rem;
    bottom:0;
     border: 1px solid var(--background-color-2);
}

.connections-box{
    width: 100%;
    max-height: 25rem;
    overflow: scroll;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(9rem, auto));
}

.follow-img{
    display: inline;
    width: 100%;
    height: calc(100% - 1rem);
    object-fit: cover;
}
.follow-name{
    position: absolute;
    color : var(--color5);
    bottom: 1.5rem;
    width: 100%;
    font-size: var(--button-font-size-20);
    background : var(--background-color-4);
    z-index: 2;
}

@media screen and (max-width : 1191px){
    .other-userbtn2{
        margin-top: -2rem;
    }
}

@media screen and (max-width : 900px){
    .profile-summary{
    transform: translateX(0);
 }
}
@media screen and (max-width : 800px){
    .profile-summary{
    transform: translateX(5vw);
 }
}
@media screen and (max-width : 600px){
    .profile-left-border, .profile-right-border{
        display: none;
    }
    .profile-center{
        width: 100%;
    }
    .profile-img-box{
        justify-content: center;
        width: calc(100% - 15rem);
    }
    .profile-summary{
        width: 50%;
        align-items: center;
        margin: 0 auto;
        padding-left: 0;
    }
    .profile-img{
        width: 5rem;
        height: 5rem;
    }
    .img-upload-icon{
        position: absolute;
        font-size: 2rem;
        left: 3rem;
        top: 0rem
    }
    .username{
        font-size: 1.4rem;
        /* text-align: center;
        background: green; */
        width: 9rem;
        height: 3rem;
    }
    .followings{
        text-align: center;
        /* background: green; */
        width: 10rem;
        height: 3rem;
    }

    .profile-img-preview-box{
        position: fixed;
        left: 0%;
        transform: translateX(0%);
        width: 100vw;
        height: 20rem;
        display: grid;
        place-self: center;
        /* background: green */
    }
    .other-userbtn1{
        display: block;
       }
    .other-userbtn2{
           display: none;
       }
    .btn{
        width: 7rem;
        padding : var(--btn-padding-4);
        margin-top: -2rem;
        margin-right: 1rem;
    }

    .profile-center-right{
        margin: 0;
        padding: 0;
    }
    .profile-left-border, .profile-right-border{
        margin: 0;
        padding: 0;
    }
    .profile-center-inner-left, .profile-center-inner-right{
        padding: 0rem;
        margin: 0;
        width: 100%;
        
    }
    .profile-center-inner-right{
        margin-top: 24rem;
    }
}
@media screen and (max-width : 599px){
    .profile-summary{
        display: block;
    }
    .profile-summary-desktop{
        display: none;
    }
}
@media screen and (max-width : 400px){
    .profile-img-box{
        padding: 0;
    }
}