
/* Compose */
.compose-center{
    padding: var(--section-padding);
    min-height: calc(100vh - 5rem);
}
.compose-center-inner{
    display: grid;
    place-items: center;
}
.compose-center-form{
    width: 80%;
    padding: 1rem;
  
}

.compose-center-top-inner2{
    width: 30%;
    margin-left: 10%;
    margin-top: -3rem;
}
.forminput{
    width:100%;
    border: 1px solid var(--color);
    background: var(--background-color-2);
    padding: var(--input-padding2);
    border-radius: var(--section-border-radius);
    margin: var(--input-margin);
    box-sizing: border-box;
    font-size: 1.1rem;
}
.forminput{
    outline: none;
}

.formbutton{
    float: right;
}

.message-img-preview{
    margin-top: 0rem;
    width: 30rem;
    object-fit: cover;
    z-index: 1;
}
.compose-center-input2{
    display: none;
}
.message-img-preview-box{
    /* position: relative;
    width: 50vw;
    height: 50vh;
    background-color: orange;
    margin: 0 auto;
    display: grid;
    place-items: center;
     */
 
}
.message-img-preview-2{
    margin-top: 5rem;
    width: 30rem;
    z-index: 1;
    object-fit: cover;
    /* position: absolute;
    left: 0;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%); */
}

.pic-upload-btn{
    /* margin-top: 35%; */
    position:relative
}



/* Inbox */
.inbox-center{
    padding: var(--section-padding);
}
.unread-messages{
    background: var(--background-color-2);
    padding: var(--section-padding);
    font-size: var(--header-font-size-4);
    font-weight: 800;
    min-height: 5rem;
    margin: 0.5rem 0;
    border-radius: var(--section-border-radius);
    border : 1px solid var(--color)
}

.read-messages{
    background: var(--background-color-2);
    padding: var(--section-padding);
    font-size: var(--header-font-size-4);
    font-weight: 300;
    min-height: 5rem;
    margin: 0.5rem 0;
    border-radius: var(--section-border-radius);
    border : 1px solid var(--color)
}

.inbox-center-search{
    display: flex; 
    justify-content: right;
    background: #fff;
    border-radius: 2rem;
    padding: 0.5rem;
    margin-left: 0.3rem; 
    background: var(--background-color);
}
.message-search{
    border: none;
    padding: 0.5rem;
    background: var(--background-color-2);
    border-radius: var(--section-border-radius);
    border : 1px solid var(--color)
}
.message-search:focus{
    outline: none;
}

.inbox-photo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border : 0.2rem solid var(--color);
    object-fit: cover;
}
.inbox-name{
    margin-left : 0.6rem
}
.inbox-userbox{
    display : flex;
    place-items : center;
    margin : 0.6rem
}

/* Chat */


.chat-main{
    height:100vh;
}
.userChat{
    margin: 1rem 0rem;
    margin-left: auto;
    width: 10rem;
    background: var(--chat-color-1);
    position: relative;
    color: #333;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    padding: var(--chat-padding)
  }
  
  .userChat::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: var(--chat-color-1);
    position: absolute;
    bottom: -1rem;
    left: calc(100% - 1rem) ;
    clip-path: polygon(0 0, 50% 0, 50% 100%);
  }

.otherUserChat{
    margin: 1rem 0rem;
    margin-right: auto;
    width: 10rem; 
    background: var(--chat-color-2); 
    position: relative;
    color: #333;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    padding: var(--chat-padding);
  }
  
  .otherUserChat::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: var(--chat-color-2); 
    position: absolute;
    bottom: -1rem;
    left: 0.5rem;
    clip-path: polygon(0 0, 50% 0, 0% 100%);
  }

  .sendingBox{
      align-items: right;
      position: fixed;
      bottom: 0;
      width: calc(100% - 50%);
      height: auto;
      padding: 0;
  }

  .chatinput{
      padding: var(--input-padding);
      padding-right: 2rem;
      box-sizing: border-box;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--section-border-radius);
      border: 1px solid var(--border-color);
      background: var(--background-color-2);
      
  }

  .chatinput:focus{
    outline: none;
    }

  .send-btn{
      position: absolute;
      top: 1.4rem;
      right: 0rem;
      padding: 0 0.4rem
  }
  .chats-container-main{
    background: var(--background-color); 
  }
.chat-title{
    position: absolute; 
    top: 4rem;
    z-index : 1;
    height: auto; 
    background: var(--background-color-2); 
    width: 50%;
    padding: var(--section-padding);
    box-sizing: border-box;
    box-shadow:
    0px 3.4px 2.7px rgba(0, 0, 0, 0.022),
    0px 8.7px 6.9px rgba(0, 0, 0, 0.031),
    0px 17.7px 14.2px rgba(0, 0, 0, 0.039),
    0px 36.5px 29.2px rgba(0, 0, 0, 0.048),
    0px 100px 80px rgba(0, 0, 0, 0.07);;

}
.chats-container{
    height: calc(100vh - 8.5rem);
    overflow-y: scroll;
    padding-top: 3rem;
    background: var(--background-color-2);
}

.chat-container-inner{
    padding : 0 1rem;
}
.chatbody{
    text-align: left;
    padding: 0.2rem;
    height: auto;
    /* padding: var(--chat-padding-2); */
    word-wrap: break-word;
    word-break: normal;
}
.chat-time{
    text-align: right;
    font-size: 0.7rem;
    padding: var(--chat-padding-3);
}

.chat-options{
    float : right;
    width: 2rem;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
}
.submit-icon{
    color: var(--color-success);
    font-size: var(--icon-size2);
    padding: 0rem; 
    cursor : pointer
}
.msg-img-upload-icon{
    cursor: pointer;
    color:var(--color6);
    font-size: 1.4rem;
    position: absolute;
    right: 2rem;
    top: -1rem;
    padding: 0rem; 
}

.message-img-box-inner{
    position: absolute;
    right: 0;
    z-index: 3;
}

.message-img-label-box{
    /* background-color: green; */
    float:right;
    position: relative;
    height: auto;
    width: 1rem;
    margin-top: -2rem;
    display: grid;
    place-items: center;
}

.message-img-preview-box{
    width: 100vw;
    display: grid;
    place-items: center;
    height: 100vh;
}

.preview-container{
    background: rgba(100, 100, 100, 0.5);
    width: 100%; 
    position: fixed;
    top: 0rem;
    z-index : 3;
    height: 100vh;
    display: grid ;
    place-items : center
}

.reply-box{
    display: flex;
    border : none;
    position: absolute;
    top: calc(100vh - 6.5rem);
    z-index : 5;
    margin-left: -1rem;
    width: 50%;
}
.reply-input{
    padding:var(--input-padding2);
    width: 80%
}

/* .reply-btn{
    width: 5rem;
    display: none;
} */




/* SingleMessage */

.popover-optons1{
    background: rgba(186,232,232, 0.5);
    padding: var(--section-padding-2);
}
.popover-optons2{
    background: rgba(227, 246, 245, 0.5);
    padding: var(--section-padding-2);
}

.replies{
    background : lightslategrey;
    padding: 1rem; 
    min-height: 4rem;
    box-sizing : border-box
}
@media screen and (max-width: 600px){
    .sendingBox{
        width: 100%;
    }
    .chats-container{
        width: 40%;
    }
    .chat-left, .chat-right{
        display: none;
    }
    .chat-title{
        width: 100%;
    }
    .message-img-preview{
        width: 100vw;
    }
    .message-img-preview-2{
        width: 100vw;
    }
    .reply-box{
        width: 100%;
    }
    .preview-container{
        /* height: 140vh; */
        /* margin-top: 25rem; */
    }
}

@media screen and (max-width: 400px){
    .compose-center-form{
        width: 100%;
        padding: 0;
    }
    .compose-center-top-inner2{
        margin-top: -2rem;
        width: 50%;
        margin-left: 0;
    }
    .post-img-preview-box{
        width : 100%
    }
}